@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
       
        <h3>My Appointment</h3>
        @if (Model.MemberAppointments != null && Model.MemberAppointments.Any())
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Coach</th>
                        <th>Cancle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.MemberAppointments)
                    { 
                            <tr>
                                <td>@group.Date.ToString("dd.MM.yyyy")</td>
                                <td>@group.Time.ToString(@"hh\:mm")</td>
                                <td></td>
                                <th> <a></a></th>
                           </tr>
                        
                    }
                </tbody>
            </table>
        } 
        else
        {
            <div class="alert alert-info">
                Henüz aktif randevunuz bulunmamaktadır.
            </div>
        }

       
     
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
