@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4" style="width: 380px; border-radius: 14px;">

        <h2 class="text-center mb-3">@ViewData["Title"]</h2>
        <h6 class="text-center text-muted mb-3">Create a new account</h6>
        <hr />

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-2" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control form-control-sm" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control form-control-sm" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.weight" class="form-control form-control-sm" type="number" aria-required="true" placeholder="weight" />
                <label asp-for="Input.weight"></label>
                <span asp-validation-for="Input.weight" class="text-danger"></span>
            </div>

            <div class="form-floating mb-4">
                <input asp-for="Input.length" class="form-control form-control-sm" type="number" aria-required="true" placeholder="length" />
                <label asp-for="Input.length"></label>
                <span asp-validation-for="Input.length" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="btn btn-primary w-100 py-2">
                Register
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
