@model IEnumerable<Coach>

<h3>@TempData["Mesaj"]</h3>
<h2>Select Coach</h2>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Speciality</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)
        {
            <tr>
                <td>@coach.member.UserName</td>
                <td>@coach.speciality</td>
                <td>
                    <a asp-action="AppointmentList" asp-route-id="@coach.Id">Selcet</a>
                </td>
            </tr>
        }
    </tbody>
</table>