@model IEnumerable<Coach>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>start</th>
            <th>end</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)
        {
            <tr>
                <td>@coach.member.Email</td>
                <form asp-action="GenerateRange" method="post">
                    <input type="hidden" name="coachId" value="@coach.Id" />
                <td>
                    <input type="date" name="startDate" class="form-control" required
                           id="start_@coach.Id" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </td>
                <td>
                    <input type="date" name="endDate" class="form-control" required
                           id="end_@coach.Id" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </td>
                <td>
                    <button type="submit" class="btn btn-success">create appointment</button>
                </td>
                </form>
            </tr>
        }
    </tbody>
</table>