@model proje.Models.CoachViewModel

@{
    ViewData["Title"] = "Record";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow p-4" style="width: 420px; border-radius: 12px;">
        <h2 class="text-center mb-4">Coach Register</h2>
        <hr />

        <form asp-action="Record" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="UserName" class="form-label fw-bold"></label>
                <input asp-for="UserName" class="form-control " />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input asp-for="Email" class="form-control " />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label fw-bold"></label>
                <input asp-for="Password" class="form-control " />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="speciality" class="form-label fw-bold"></label>
                <input asp-for="speciality" class="form-control " />
                <span asp-validation-for="speciality" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="experience" class="form-label fw-bold"></label>
                <input asp-for="experience" class="form-control " />
                <span asp-validation-for="experience" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary px-5">
                    Kaydet
                </button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
